<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <form action="" method="get">
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">用户</span>
                            <select name="user_id" class="form-control">
                                <option value="">全部</option>
                                <option th:each="user : ${users}" th:value="${user.userId}" th:selected="${userId != null and userId == user.userId}" th:text="${user.username + '(' + user.givenName + ')'}">user</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control" name="keyword" type="text" th:value="${keyword}" placeholder="备注">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="w8p">ID</th>
                    <th class="w8p">用户</th>
                    <th class="w8p">动作</th>
                    <th>文档</th>
                    <th class="w30p">备注</th>
                    <th class="w15p">时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${logDocuments}">
                    <td class="center" th:text="${item.logDocumentId}">1</td>
                    <td class="center" th:text="${item.username}">user</td>
                    <td class="center">
                        <label class="text text-info" th:if="${item.action == 1}">创建</label>
                        <label class="text text-primary" th:if="${item.action == 2}">修改</label>
                        <label class="text text-danger" th:if="${item.action == 3}">删除</label>
                    </td>
                    <td>
                        <span th:if="${item.action == 3}" th:text="${item.documentName}">doc</span>
                        <a th:if="${item.action != 3}" th:href="@{/document/index(document_id=${item.documentId})}" target="_parent" th:text="${item.documentName}">doc</a>
                    </td>
                    <td th:text="${item.comment}">comment</td>
                    <td class="center" th:text="${item.createTimeText}">time</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" th:if="${paginator != null and paginator.nums > 0}">
            <ul class="pagination pagination-sm">
                <li><span>共 <span th:text="${paginator.nums}">0</span> 条数据</span></li>
                <li th:each="pageItem : ${paginator.pages}" th:classappend="${pageItem.active} ? 'active'">
                    <a th:href="${pageItem.url}" th:text="${pageItem.page}">1</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
