<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link type="text/css" rel="stylesheet"
          th:href="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/table.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <form id="documentLogSearchForm" role="form">
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">用户</span>
                            <select id="user_id" name="user_id" class="form-control">
                                <option value="">全部</option>
                                <option th:each="user : ${users}" th:value="${user.userId}" th:selected="${userId != null and userId == user.userId}" th:text="${user.username + '(' + user.givenName + ')'}">user</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="keyword" class="form-control" name="keyword" type="text" th:value="${keyword}"
                                   placeholder="备注">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" onclick="reloadTable()"><i
                                        class="glyphicon glyphicon-search"></i></button>
                                <button type="button" class="btn btn-warning" onclick="resetSearchForm()"><i
                                        class="glyphicon glyphicon-repeat"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-body" style="padding-top: 0">
            <table id="documentLogTable"></table>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">

    function documentFormatter(value, row) {
        if (row.action === 3) {
            return tableHtml(value);
        }
        return tableLink("/document/index?document_id=" + row.documentId, value, "_parent");
    }

    $(function () {
        initTable({
            domId: "documentLogTable",
            url: "/system/log/document",
            uniqueId: "logDocumentId",
            sortable: false,
            pageSize: 20,
            pageList: [10, 20, 50, 100],
            queryParams: function () {
                return {
                    user_id: $("#user_id").val(),
                    keyword: $("#keyword").val()
                };
            },
            columns: [
                {field: "logDocumentId", title: "ID", width: "8%", align: "center"},
                {field: "username", title: "用户", width: "8%", align: "center"},
                {field: "action", title: "动作", width: "8%", align: "center", formatter: tableDocumentAction},
                {field: "documentName", title: "文档", formatter: documentFormatter},
                {field: "comment", title: "备注", width: "30%"},
                {field: "createTimeText", title: "时间", width: "15%", align: "center"}
            ]
        });
    });

    function reloadTable() {
        reloadTableFirstPage("documentLogTable");
    }

    function resetSearchForm() {
        resetTableSearch("documentLogSearchForm", "documentLogTable");
    }
</script>
</body>
</html>
