<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link type="text/css" rel="stylesheet"
          th:href="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-select/css/bootstrap-select.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-select/js/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/form.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/table.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div id="failedBox" class="hide"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <form th:action="@{/system/space_user/save}" method="post">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">空间权限</span>
                            <select name="privilege" class="form-control selectpicker show-menu-arrow" data-max-options="1">
                                <option value="0">浏览者</option>
                                <option value="1">编辑者</option>
                                <option value="2">管理员</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <select name="user_id" class="form-control selectpicker show-menu-arrow" multiple data-live-search="true" data-max-options="1" title="选择要添加的成员">
                                <option th:each="otherUser : ${otherUsers}" th:value="${otherUser.userId}" th:text="${otherUser.username + '(' + otherUser.givenName + ')'}">用户</option>
                            </select>
                            <input type="hidden" name="space_id" th:value="${space_id}">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" onclick="Form.ajaxSubmit(this.form, false);"><i class="glyphicon glyphicon-plus"></i> 添加</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-body" style="padding-top: 0">
            <table id="systemSpaceMemberTable"></table>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var spaceId = /*[[${space_id}]]*/ 0;

    function privilegeSelectFormatter(value, row) {
        var url = "/system/space_user/modify?space_id=" + spaceId + "&space_user_id=" + row.spaceUserId;
        var html = '<select name="edit_privilege" class="form-control input-xs" data-link="' + url + '">';
        html += '<option value="0"' + (row.privilege === 0 ? " selected" : "") + '>浏览者</option>';
        html += '<option value="1"' + (row.privilege === 1 ? " selected" : "") + '>编辑者</option>';
        html += '<option value="2"' + (row.privilege === 2 ? " selected" : "") + '>管理员</option>';
        html += '</select>';
        return html;
    }

    function actionFormatter(value, row) {
        return '<a data-message="确定要移除该成员吗？" data-url="/system/space_user/remove?space_user_id=' + row.spaceUserId + '&space_id=' + spaceId + '&user_id=' + row.user.userId + '" onclick="Layers.confirm(this.getAttribute(\'data-message\'), this.getAttribute(\'data-url\'))"><i class="glyphicon glyphicon-remove-circle"></i>移除</a>';
    }

    function bindPrivilegeChange() {
        $("select[name='edit_privilege']").off("change").on("change", function () {
            Common.ajaxSubmit($(this).attr("data-link"), "privilege=" + this.value);
        });
    }

    $(function () {
        $(".selectpicker").selectpicker();
        initTable({
            domId: "systemSpaceMemberTable",
            url: "/system/space/member",
            uniqueId: "spaceUserId",
            sortable: false,
            pageSize: 15,
            pageList: [10, 15, 20, 50],
            queryParams: function () {
                return {space_id: spaceId};
            },
            columns: [
                {field: "user.userId", title: "ID", width: "8%", align: "center"},
                {field: "user.username", title: "用户名", width: "15%"},
                {field: "user.givenName", title: "姓名"},
                {field: "user.email", title: "邮箱", width: "20%"},
                {
                    field: "privilege",
                    title: "空间权限",
                    width: "15%",
                    align: "center",
                    formatter: privilegeSelectFormatter
                },
                {field: "operate", title: "操作", width: "13%", align: "center", formatter: actionFormatter}
            ],
            onLoadSuccess: bindPrivilegeChange
        });
    });
</script>
</body>
</html>
