<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
</head>
<body id="frame-body">
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="page-header center">
                <img th:src="@{/static/images/logo_sm.png}" style="height: 70px">
            </div>
            <p><strong>MM-Wiki: <a href="https://github.com/phachon/mm-wiki/releases" target="_blank" th:text="${version}">v0.2.1</a></strong></p>
            <p><strong>Author: <a href="https://github.com/phachon" target="_blank">phachon</a></strong></p>
            <p><strong>Link: <a href="https://github.com/phachon/mm-wiki" target="_blank">https://github.com/phachon/mm-wiki</a></strong></p>
            <p><strong>Copyright (c) <span th:text="${copyright}">2018 phachon</span></strong></p>
            <p class="text-center"><a class="btn btn-primary btn-sm" href="https://github.com/phachon/mm-wiki/blob/master/LICENSE" role="button" target="_blank">查看开源协议</a></p>
        </div>
    </div>
</div>
</body>
</html>
