<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link type="text/css" rel="stylesheet"
          th:href="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet"
          th:href="@{/static/plugins/bootstrap-checkbox/awesome-bootstrap-checkbox.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-select/css/bootstrap-select.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/cipher/sha256.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-select/js/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/form.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/table.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="margin-bottom: 10px">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4><i class="glyphicon glyphicon-volume-up"></i> <span th:text="${panel_title}">公告</span></h4>
                <p th:text="${panel_description}">欢迎使用 MM-Wiki</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="fa fa-file-word-o"></i> 最近更新文档</strong></div>
                <div class="panel-body" style="min-height: 550px">
                    <table id="recentDocumentTable"></table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default" style="min-height: 300px">
                <div class="panel-heading"><strong><i class="fa fa-internet-explorer"></i> 快捷链接</strong></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 fast-link" th:each="link : ${links}">
                            <label><a th:href="${link.url}" target="_blank"><i class="fa fa-angle-double-right fa-lg"></i> <span th:text="${link.name}">链接</span> <i class="fa fa-external-link"></i></a></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default" style="min-height: 300px">
                <div class="panel-heading"><strong><i class="fa fa-address-book-o"></i> 系统联系人</strong></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" th:each="contact : ${contacts}">
                            <span th:text="${contact.position}">职位</span>(<span th:text="${contact.name}">姓名</span>)，
                            <i class="glyphicon glyphicon-phone"></i><span th:text="${contact.mobile}">123456</span>
                            <i class="glyphicon glyphicon-envelope"></i> <span th:text="${contact.email}">mail@example.com</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var loginUserId = /*[[${login_user_id}]]*/ 0;

    function documentFormatter(value, row) {
        var icon = row.documentType === 1 ? "fa-file-word-o" : "fa-folder-o";
        if (row.action === 3) {
            return '<i class="fa ' + icon + '"></i> ' + tableHtml(row.documentName);
        }
        return '<a href="/document/index?document_id=' + row.documentId + '" target="_parent" class="text text-info text-font-15"><i class="fa ' + icon + '"></i> ' + tableHtml(row.documentName) + '</a>';
    }

    function userFormatter(value, row) {
        var text = tableHtml(row.username) + "（" + tableHtml(row.givenName) + "）";
        if (row.userId === loginUserId) {
            return '<a href="/system/main/index" target="_parent">' + text + '</a>';
        }
        return '<a href="/user/info?user_id=' + row.userId + '">' + text + '</a>';
    }

    $(function () {
        initTable({
            domId: "recentDocumentTable",
            url: "/main/default",
            uniqueId: "logDocumentId",
            sortable: false,
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            columns: [
                {field: "documentName", title: "文档", formatter: documentFormatter},
                {field: "username", title: "用户", width: "22%", formatter: userFormatter},
                {field: "action", title: "动作", width: "10%", align: "center", formatter: tableDocumentAction},
                {field: "createTimeText", title: "时间", width: "22%", align: "center"}
            ]
        });
    });
</script>
</body>
</html>
