<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link type="text/css" rel="stylesheet"
          th:href="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/table.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li><a th:href="@{/attachment/page(document_id=${document_id})}">附件</a></li>
                    <li class="active"><a th:href="@{/attachment/image(document_id=${document_id})}">图片</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <table id="imageTable"></table>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var documentId = /*[[${document_id}]]*/ "";
    var canDelete = /*[[${is_delete}]]*/ false;

    /**
     * 渲染图片缩略图，图片地址保持和 Markdown 中一致的受控访问入口。
     *
     * @param value 当前字段值
     * @param row 图片附件行数据
     * @returns {string} 缩略图 HTML
     */
    function imagePreviewFormatter(value, row) {
        var url = "/" + row.path;
        return '<a target="_blank" href="' + tableHtml(url) + '" class="thumbnail" style="width: 100px;height: 80px;margin-bottom: 0">' +
            '<img src="' + tableHtml(url) + '" alt="image">' +
            '</a>';
    }

    /**
     * 渲染图片附件操作按钮，只有空间管理员可以删除图片。
     *
     * @param value 当前字段值
     * @param row 图片附件行数据
     * @returns {string} 操作按钮 HTML
     */
    function imageActionFormatter(value, row) {
        if (!canDelete) {
            return "";
        }
        return '<a data-message="确定删除图片吗？" data-url="/attachment/delete?attachment_id=' + row.attachmentId + '" onclick="Common.ajaxSubmitConfirm(this.getAttribute(\'data-message\'), this.getAttribute(\'data-url\'))"><i class="glyphicon glyphicon-trash"></i></a>';
    }

    $(function () {
        initTable({
            domId: "imageTable",
            url: "/attachment/image",
            uniqueId: "attachmentId",
            sortable: false,
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            queryParams: function () {
                return {document_id: documentId};
            },
            columns: [
                {field: "path", title: "图片", formatter: imagePreviewFormatter},
                {field: "username", title: "上传用户", width: "15%"},
                {field: "createTime", title: "上传时间", width: "20%"},
                {field: "operate", title: "操作", width: "11%", align: "center", formatter: imageActionFormatter}
            ]
        });
    });
</script>
</body>
</html>
