<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-fileinput/css/fileinput.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-fileinput/js/fileinput.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-fileinput/js/locales/zh.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layui/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div id="failedBox" style="margin: 0 0 6px 0"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a th:href="@{/attachment/page(document_id=${document_id})}">附件</a></li>
                    <li><a th:href="@{/attachment/image(document_id=${document_id})}">图片</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body" style="padding-bottom: 10px" th:if="${is_upload}">
            <div class="row">
                <div class="col-md-12" id="attach_section">
                    <input id="attach_upload" name="attachment" type="file">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <td class="text-left"><strong>文件名</strong></td>
                    <td class="w15p text-left"><strong>上传用户</strong></td>
                    <td class="w20p text-left"><strong>上传时间</strong></td>
                    <td class="w11p center"><strong>操作</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="attachment : ${attachments}">
                    <td th:text="${attachment.name}">file</td>
                    <td th:text="${attachment.username}">user</td>
                    <td th:text="${attachment.createTime}">time</td>
                    <td class="center">
                        <a th:if="${is_delete}" data-message="确定删除附件吗？"
                           th:data-url="@{/attachment/delete(attachment_id=${attachment.attachmentId})}"
                           onclick="Layers.confirm(this.getAttribute('data-message'), this.getAttribute('data-url'))"><i
                                class="glyphicon glyphicon-trash"></i></a>
                        <a th:href="@{/attachment/download(attachment_id=${attachment.attachmentId})}"><i class="glyphicon glyphicon-download"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:if="${is_upload}" th:inline="javascript">
    var attachmentOption = {
        language: "zh",
        multiple: false,
        uploadUrl: "/attachment/upload",
        enctype: "multipart/form-data",
        showPreview: false,
        maxFileSize: 1024 * 500,
        uploadExtraData: {
            document_id: /*[[${document_id}]]*/ ""
        },
        msgUploadEnd: "上传完成",
        elErrorContainer: "#failedBox"
    };
    var attachmentObj = $("#attach_upload").fileinput(attachmentOption);
    attachmentObj.on("fileuploaded", function(event, data) {
        if (data.response.code) {
            Layers.successMsg(data.response.message);
            Common.redirect(data.response.redirect.url);
        }
    });
</script>
</body>
</html>
