<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" href="/static/images/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/plugins/popover/css/jquery.webui-popover.min.css">
    <link type="text/css" rel="stylesheet" href="/static/plugins/zTreev3/css/metroStyle/metroStyle.css">
    <link type="text/css" rel="stylesheet" href="/static/css/dashboard.css">
    <link type="text/css" rel="stylesheet" href="/static/css/common.css">

    <script type="text/javascript" src="/static/plugins/jquery/jquery1.11.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/plugins/popover/js/jquery.webui-popover.min.js"></script>
    <script type="text/javascript" src="/static/plugins/layui/layer/layer.js"></script>
    <script type="text/javascript" src="/static/plugins/cipher/sha256.js"></script>
    <script type="text/javascript" src="/static/plugins/layout/jquery-ui-1.11.0.js"></script>
    <script type="text/javascript" src="/static/plugins/layout/jquery.layout.min.js"></script>
    <script type="text/javascript" src="/static/plugins/zTreev3/js/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="/static/plugins/zTreev3/js/jquery.ztree.exhide.min.js"></script>
    <script type="text/javascript" src="/static/plugins/zTreev3/js/fuzzysearch.min.js"></script>
    <script type="text/javascript" src="/static/js/common/common.js"></script>
    <script type="text/javascript" src="/static/js/common/layers.js"></script>
    <script type="text/javascript" src="/static/js/modules/common.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="main-left" class="ui-layout-west">
    <div class="left-page">
        <div class="page-search">
            <form onsubmit="return false">
                <div class="form-group has-feedback">
                    <i class="glyphicon glyphicon-search form-control-feedback" style="line-height: 32px;"></i>
                    <input class="form-control input-sm" id="document_search" type="text" value="" placeholder="搜索空间文档..." style="padding-right: 28px;">
                </div>
            </form>
        </div>
        <div class="page-tree">
            <h4 class="text-center">
                <a th:href="@{/document/index(document_id=${space_document.documentId})}" th:text="${space_document.name}">空间首页</a>
                <a name="create_document" th:attr="data-link=@{/document/add(space_id=${space_document.spaceId},parent_id=${space_document.documentId})}">
                    <span class="fa fa-plus-square-o"></span>
                </a>
            </h4>
            <hr>
            <ul id="dir_tree" class="ztree"></ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/modules/document.js"></script>
<script th:inline="javascript">
    var documentsData = /*[[${documentsJson}]]*/ [];
    Document.ListTree("#dir_tree", documentsData, [[${default_document_id}]], [[${is_editor}]], [[${is_delete}]]);
    Layers.bindIframe("[name='create_document']", "创建文档", "345px", "800px");
</script>
<iframe class="ui-layout-center" id="mainFrame" name="mainFrame" width="100%" frameborder="0" scrolling="yes"
        style="overflow-y: auto" th:src="@{/page/view(document_id=${default_document_id})}"></iframe>
</body>
</html>
