<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" href="/static/images/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/common.css">
    <script type="text/javascript" src="/static/plugins/jquery/jquery1.11.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/common/common.js"></script>
    <script type="text/javascript" src="/static/js/common/form.js"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div id="failedBox" class="hide"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <br>
            <form class="form-horizontal" method="post" th:action="${contact != null} ? '/system/contact/modify' : '/system/contact/save'">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 姓名 </label>
                    <div class="col-sm-4">
                        <input type="text" name="name" class="form-control" th:value="${contact != null ? contact.name : ''}" placeholder="请输入联系人姓名" required>
                    </div>
                </div>
                <input type="hidden" name="contactId" th:value="${contact != null ? contact.contactId : ''}">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 职位 </label>
                    <div class="col-sm-4">
                        <input type="text" name="position" class="form-control" th:value="${contact != null ? contact.position : ''}" placeholder="请输入联系人职位" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 电话 </label>
                    <div class="col-sm-4">
                        <input type="text" name="mobile" class="form-control" th:value="${contact != null ? contact.mobile : ''}" placeholder="请输入联系电话" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 邮箱 </label>
                    <div class="col-sm-4">
                        <input type="text" name="email" class="form-control" th:value="${contact != null ? contact.email : ''}" placeholder="请输入联系人邮箱" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" onclick="Form.ajaxSubmit(this.form, true)" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
