<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link type="text/css" rel="stylesheet"
          th:href="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/table.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4><span class="label label-default" th:text="${role.name + '用户'}">角色用户</span></h4>
        </div>
        <div class="panel-body" style="padding-top: 0">
            <table id="systemRoleUserTable"></table>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var roleId = /*[[${roleId}]]*/ 0;
    var roleName = /*[[${role.name}]]*/ "";

    function statusFormatter(value, row) {
        return row.isForbidden === 1 ? tableLabel("屏蔽", "label-danger") : tableLabel("正常", "label-success");
    }

    function actionFormatter(value, row) {
        if (row.userId === 1) {
            return "无";
        }
        return '<a data-message="确定重置该用户为默认角色吗？" data-url="/system/role/resetUser?user_id=' + row.userId + '" onclick="Layers.confirm(this.getAttribute(\'data-message\'), this.getAttribute(\'data-url\'))"><i class="remove glyphicon glyphicon-refresh"></i>重置角色</a>';
    }

    $(function () {
        initTable({
            domId: "systemRoleUserTable",
            url: "/system/role/user",
            uniqueId: "userId",
            sortable: false,
            pageSize: 15,
            pageList: [10, 15, 20, 50],
            queryParams: function () {
                return {role_id: roleId};
            },
            columns: [
                {field: "userId", title: "ID", width: "8%", align: "center"},
                {field: "username", title: "用户名", width: "15%"},
                {field: "givenName", title: "姓名"},
                {field: "email", title: "邮箱", width: "15%"},
                {field: "mobile", title: "手机号", width: "11%", align: "center"},
                {field: "isForbidden", title: "状态", width: "8%", align: "center", formatter: statusFormatter},
                {
                    field: "roleId", title: "角色", width: "15%", align: "center", formatter: function () {
                        return '<label class="text-info">' + tableHtml(roleName) + '</label>';
                    }
                },
                {field: "operate", title: "操作", width: "10%", align: "center", formatter: actionFormatter}
            ]
        });
    });
</script>
</body>
</html>
