<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layui/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4><span class="label label-default" th:text="${role.name + '用户'}">角色用户</span></h4>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="w8p">ID</th>
                    <th class="w15p">用户名</th>
                    <th>姓名</th>
                    <th class="w15p">邮箱</th>
                    <th class="w11p">手机号</th>
                    <th class="w8p">状态</th>
                    <th class="w15p">角色</th>
                    <th class="w10p">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td class="center" th:text="${user.userId}">1</td>
                    <td th:text="${user.username}">user</td>
                    <td th:text="${user.givenName}">name</td>
                    <td th:text="${user.email}">email</td>
                    <td class="center" th:text="${user.mobile}">mobile</td>
                    <td class="center">
                        <span class="label label-danger" th:if="${user.isForbidden == 1}">屏蔽</span>
                        <span class="label label-success" th:if="${user.isForbidden != 1}">正常</span>
                    </td>
                    <td class="center"><label class="text-info" th:text="${role.name}">角色</label></td>
                    <td class="center">
                        <span th:if="${user.userId == 1}">无</span>
                        <a th:if="${user.userId != 1}" data-message="确定重置该用户为默认角色吗？"
                           th:data-url="@{/system/role/resetUser(user_id=${user.userId})}"
                           onclick="Layers.confirm(this.getAttribute('data-message'), this.getAttribute('data-url'))"><i
                                class="remove glyphicon glyphicon-refresh"></i>重置角色</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" th:if="${paginator != null and paginator.nums > 0}">
            <th:block th:replace="~{fragments/paginator :: default(${paginator})}"></th:block>
        </div>
    </div>
</div>
</body>
</html>
