<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-switch/css/bootstrap-switch.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layui/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/form.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/modules/system/email.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div id="failedBox" class="hide"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <br>
            <form class="form-horizontal" method="post" th:action="${email != null} ? '/system/email/modify' : '/system/email/save'">
                <input type="hidden" name="email_id" th:value="${email != null ? email.emailId : ''}">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 服务名称</label>
                    <div class="col-sm-4">
                        <input type="text" name="name" class="form-control" placeholder="请输入邮件服务器名称" th:value="${email != null ? email.name : ''}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 服务器主机</label>
                    <div class="col-sm-4">
                        <input type="text" name="host" class="form-control" placeholder="请输入 smtp 邮件服务器 host"
                               th:value="${email != null ? email.host : ''}">
                    </div>
                    <div class="col-sm-4 form-comment">
                        <span class="text-danger"> * 仅支持 smtp，例如：smtp.163.com</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 服务器端口</label>
                    <div class="col-sm-4">
                        <input type="text" name="port" class="form-control" placeholder="请输入 smtp 邮件服务器端口(25)"
                               th:value="${email != null ? email.port : 25}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 发件人邮箱</label>
                    <div class="col-sm-4">
                        <input type="text" name="sender_address" class="form-control" placeholder="请输入发件人邮箱"
                               th:value="${email != null ? email.senderAddress : ''}">
                    </div>
                    <div class="col-sm-4 form-comment">
                        <span class="text-danger"> * 该邮箱将作为系统发件人来通知其他用户</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 邮箱用户名</label>
                    <div class="col-sm-4">
                        <input type="text" name="username" class="form-control" placeholder="请输入发件人邮箱用户名"
                               th:value="${email != null ? email.username : ''}">
                    </div>
                    <div class="col-sm-4 form-comment">
                        <span class="text-danger"> * 保留原系统字段；实际发信账号使用发件人邮箱</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 邮箱密码</label>
                    <div class="col-sm-4">
                        <input type="text" name="password" class="form-control"
                               placeholder="请输入发件人邮箱密码或授权码"
                               th:value="${email != null ? email.password : ''}">
                    </div>
                    <div class="col-sm-4 form-comment">
                        <span class="text-danger"> * QQ、163 等邮箱通常需要填写授权码</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 是否使用 SSL</label>
                    <div class="col-sm-1">
                        <input type="checkbox" name="is_ssl" value="1"
                               th:checked="${email != null and email.isSsl == 1}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> 发件人显示名</label>
                    <div class="col-sm-4">
                        <input type="text" name="sender_name" class="form-control" placeholder="请输入发件人显示名"
                               th:value="${email != null and !#strings.isEmpty(email.senderName) ? email.senderName : 'MM-Wiki'}">
                    </div>
                    <div class="col-sm-4 form-comment">
                        <span class="text-danger"> * 发件人邮箱的昵称</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> 邮件标题前缀</label>
                    <div class="col-sm-4">
                        <input type="text" name="sender_title_prefix" class="form-control"
                               placeholder="请输入邮件标题前缀"
                               th:value="${email != null and !#strings.isEmpty(email.senderTitlePrefix) ? email.senderTitlePrefix : '[MM-Wiki]'}">
                    </div>
                    <input type="hidden" name="emails" value="">
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" onclick="Email.testSend(this.form, '/system/email/test');" class="btn btn-success">测试</button>
                        <button type="button" onclick="Form.ajaxSubmit(this.form, true);" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("input[type='checkbox']").bootstrapSwitch({
            size: 'small',
            onText: '是',
            offText: '否'
        });
    });
</script>
</body>
</html>
