<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>MM-Wiki Email Notice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="border: 1px solid #cccccc; border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="#337ab7"
                        style="padding: 30px 0 5px 0; color: #ffffff; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                        MM-Wiki Email Notice!
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#337ab7"
                        style="padding: 5px 0 20px 0; color: #ffffff; font-size: 18px; font-family: Arial, sans-serif;"
                        th:text="${now_time}">
                        2026-05-06 00:00:00
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 20px 30px 10px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 25px;">
                                    <b th:text="${document_name}">MM-Wiki 邮件服务器测试</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: #aaaaaa; font-family: Arial, sans-serif; font-size: 14px; padding-top: 10px">
                                    被 <span th:text="${username}">System</span> 发送于 <span th:text="${update_time}">2026-05-06 00:00:00</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 10px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; min-height: 30px;"
                                    th:text="${document_content}">
                                    如果你收到这封邮件，说明当前 SMTP 邮件服务器配置可用。
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#337ab7" style="padding: 20px 30px 20px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center"
                                    style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;"
                                    width="65%">
                                    © <span th:text="${copyright}">2026 TinyCloud</span><br/>
                                    <a href="https://github.com/phachon/mm-wiki/issues" style="color: #ffffff;"><font
                                            color="#ffffff">意见或反馈</font></a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding-top: 5px; font-size: 14px">
                                    <a href="https://github.com/phachon/mm-wiki" style="color: #ffffff;">GitHub</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
