<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link type="text/css" rel="stylesheet"
          th:href="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/table.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="page-header">
                <h3><i class="fa fa-address-card-o"></i> <span th:text="${user.username + '（' + user.givenName + '）'}">用户</span></h3>
            </div>
            <ul class="nav nav-tabs">
                <li><a th:href="@{/user/info(user_id=${user.userId})}">用户信息</a></li>
                <li><a th:href="@{/user/followUser(user_id=${user.userId})}">关注用户</a></li>
                <li class="active"><a th:href="@{/user/followPage(user_id=${user.userId})}">关注文档</a></li>
            </ul>
            <br>
            <div id="emptyFollowPageAlert" class="alert alert-info alert-dismissible fade in hide" role="alert"
                 style="margin-bottom: 0">
                <p><i class="glyphicon glyphicon-volume-up"></i> 还没有关注任何文档</p>
            </div>
            <table id="followPageTable"></table>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var profileUserId = /*[[${user.userId}]]*/ 0;
    var loginUserId = /*[[${login_user_id}]]*/ 0;

    /**
     * 渲染关注文档名称，点击后在父框架打开文档。
     *
     * @param value 当前字段值
     * @param row 关注文档行数据
     * @returns {string} 文档链接 HTML
     */
    function documentFormatter(value, row) {
        return '<strong><a href="/document/index?document_id=' + row.document.documentId + '" target="_parent">' + tableHtml(row.document.name) + '</a></strong>';
    }

    /**
     * 渲染文档类型名称。
     *
     * @param value 当前字段值
     * @param row 关注文档行数据
     * @returns {string} 文档类型
     */
    function documentTypeFormatter(value, row) {
        return row.document.type === 1 ? "页面" : "目录";
    }

    /**
     * 渲染取消关注文档操作按钮。
     *
     * @param value 当前字段值
     * @param row 关注文档行数据
     * @returns {string} 操作按钮 HTML
     */
    function actionFormatter(value, row) {
        if (profileUserId !== loginUserId) {
            return "";
        }
        return '<a data-url="/follow/cancel?follow_id=' + row.followId + '" onclick="Common.ajaxSubmit(this.getAttribute(\'data-url\'))"><i class="glyphicon glyphicon-heart"></i></a>';
    }

    $(function () {
        initTable({
            domId: "followPageTable",
            url: "/user/followPage",
            uniqueId: "followId",
            sortable: false,
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            queryParams: function () {
                return {user_id: profileUserId};
            },
            columns: [
                {field: "document.name", title: "文档名", width: "25%", formatter: documentFormatter},
                {field: "document.type", title: "类型", width: "10%", formatter: documentTypeFormatter},
                {field: "operate", title: "取消", width: "12%", align: "center", formatter: actionFormatter}
            ],
            onLoadSuccess: function (data) {
                $("#emptyFollowPageAlert").toggleClass("hide", (data.total || 0) > 0);
            }
        });
    });
</script>
</body>
</html>
