<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="page-header">
                <h2>全部用户 <small><span class="badge" th:text="${count}">0</span></small></h2>
            </div>
            <div class="row">
                <form th:action="@{/user/list}" method="get">
                    <div class="col-md-9">
                        <div class="input-group"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control" name="username" type="text" th:value="${username}" placeholder="用户名">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <table class="table">
                <thead>
                <tr>
                    <td class="w15p text-left"><strong>用户名</strong></td>
                    <td class="text-left"><strong>姓名</strong></td>
                    <td class="text-left"><strong>职位</strong></td>
                    <td class="w17p text-left"><strong>邮箱</strong></td>
                    <td class="w11p text-left"><strong>座机</strong></td>
                    <td class="w11p text-left"><strong>手机</strong></td>
                    <td class="w11p text-left"><strong>IM</strong></td>
                    <td class="w8p center"><strong>操作</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr class="space-list" th:each="user : ${users}">
                    <td>
                        <strong th:if="${user.userId == login_user_id}"><a href="/system/main/index" target="_parent" th:text="${user.username}">user</a></strong>
                        <strong th:if="${user.userId != login_user_id}"><a th:href="@{/user/info(user_id=${user.userId})}" th:text="${user.username}">user</a></strong>
                    </td>
                    <td th:text="${user.givenName}">name</td>
                    <td th:text="${user.position}">position</td>
                    <td th:text="${user.email}">email</td>
                    <td th:text="${user.phone}">phone</td>
                    <td th:text="${user.mobile}">mobile</td>
                    <td th:text="${user.im}">im</td>
                    <td class="center">
                        <th:block th:if="${user.userId != login_user_id}">
                            <a th:if="${user.follow}" th:data-url="@{/follow/cancel(follow_id=${user.followId})}"
                               onclick="Common.ajaxSubmit(this.getAttribute('data-url'))"><i
                                    class="glyphicon glyphicon-heart"></i></a>
                            <a th:if="${!user.follow}" th:data-url="@{/follow/add(type=2,object_id=${user.userId})}"
                               onclick="Common.ajaxSubmit(this.getAttribute('data-url'))"><i
                                    class="glyphicon glyphicon-heart-empty"></i></a>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" th:if="${paginator != null and paginator.nums > 0}">
            <ul class="pagination pagination-sm">
                <li><span>共<span th:text="${paginator.nums}">0</span> 条数据</span></li>
                <li th:each="pageItem : ${paginator.pages}" th:classappend="${pageItem.active} ? 'active'">
                    <a th:href="${pageItem.url}" th:text="${pageItem.page}">1</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
