<th:block th:fragment="context" xmlns:th="http://www.thymeleaf.org">
    <script th:inline="javascript">
        window.CONTEXT_PATH = /*[[@{/}]]*/ "";
        window.CONTEXT_PATH = window.CONTEXT_PATH.replace(/\/$/, "");
        /**
         * 为站内绝对路径补充应用上下文路径，外链、空值和已补前缀的路径保持不变。
         *
         * @param url 原始 URL
         * @returns {string} 补充上下文路径后的 URL
         */
        window.contextPathUrl = function (url) {
            if (!url || typeof url !== "string") {
                return url;
            }
            if (url.indexOf("/") !== 0 || url.indexOf("//") === 0) {
                return url;
            }
            if (window.CONTEXT_PATH && url.indexOf(window.CONTEXT_PATH + "/") === 0) {
                return url;
            }
            return window.CONTEXT_PATH + url;
        };
    </script>
</th:block>
