<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-select/css/bootstrap-select.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-select/js/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layui/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div id="failedBox" class="hide"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <form th:action="@{/space/addMember}" method="post">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">空间权限</span>
                            <select name="privilege" class="form-control">
                                <option value="0">浏览者</option>
                                <option value="1">编辑者</option>
                                <option value="2">管理员</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <select name="user_id" class="form-control selectpicker show-menu-arrow" multiple data-live-search="true" data-max-options="1" title="选择要添加的成员">
                                <option th:each="user : ${otherUsers}" th:value="${user.userId}" th:text="${user.username + '（' + user.givenName + '）'}">user</option>
                            </select>
                            <input type="hidden" name="space_id" th:value="${space_id}">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" onclick="submitAddMember(this.form)"><i class="glyphicon glyphicon-plus"></i> 添加</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <td class="w20p text-left"><strong>用户名</strong></td>
                    <td class="text-left"><strong>姓名</strong></td>
                    <td class="w20p text-left"><strong>邮箱</strong></td>
                    <td class="w15p text-left"><strong>手机</strong></td>
                    <td class="w11p center"><strong>空间权限</strong></td>
                    <td class="w10p center"><strong>操作</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${users}">
                    <td th:text="${member.user.username}">user</td>
                    <td th:text="${member.user.givenName}">name</td>
                    <td th:text="${member.user.email}">mail</td>
                    <td th:text="${member.user.mobile}">mobile</td>
                    <td class="center" style="padding: 4px 6px">
                        <select name="edit_privilege" class="form-control input-xs"
                                th:data-link="@{/space/modifyMember(space_id=${space_id},space_user_id=${member.spaceUserId})}">
                            <option value="0" th:selected="${member.privilege == 0}">浏览者</option>
                            <option value="1" th:selected="${member.privilege == 1}">编辑者</option>
                            <option value="2" th:selected="${member.privilege == 2}">管理员</option>
                        </select>
                    </td>
                    <td class="center">
                        <a href="javascript:void(0)"
                           th:data-space-id="${space_id}"
                           th:data-user-id="${member.user.userId}"
                           th:data-space-user-id="${member.spaceUserId}"
                           onclick="removeMember(this.getAttribute('data-space-id'), this.getAttribute('data-user-id'), this.getAttribute('data-space-user-id'))"><i
                                class="glyphicon glyphicon-remove-circle"></i>移除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" th:if="${paginator != null and paginator.nums > 0}">
            <ul class="pagination pagination-sm">
                <li><span>共<span th:text="${paginator.nums}">0</span> 条数据</span></li>
                <li th:each="pageItem : ${paginator.pages}" th:classappend="${pageItem.active} ? 'active'">
                    <a th:href="${pageItem.url}" th:text="${pageItem.page}">1</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    function submitAddMember(form) {
        var userId = $(form).find("select[name='user_id']").val();
        if (!userId || userId.length === 0) {
            Layers.failedMsg("请选择要添加的成员");
            return;
        }
        var data = $(form).serialize();
        Common.ajaxSubmit("/space/addMember", data);
    }

    function removeMember(spaceId, userId, spaceUserId) {
        layer.confirm("确定要移除该成员吗？", {
            btn: ["是", "否"],
            skin: Layers.skin,
            btnAlign: "c",
            title: "<i class='fa fa-warning'></i><strong> 警告</strong>"
        }, function () {
            Common.ajaxSubmit("/space/removeMember", "space_id=" + spaceId + "&user_id=" + userId + "&space_user_id=" + spaceUserId);
        });
    }

    $(function () {
        $(".selectpicker").selectpicker();
        $("select[name='edit_privilege']").each(function () {
            $(this).bind("change", function () {
                var url = $(this).attr("data-link");
                Common.ajaxSubmit(url, "privilege=" + this.value);
            });
        });
    });
</script>
</body>
</html>
