<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
</head>
<body id="frame-body">
<div class="container-fluid">
    <div id="failedBox" class="hide"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <br>
            <table class="table">
                <thead>
                <tr>
                    <td class="w20p text-left"><strong>用户名</strong></td>
                    <td class="text-left"><strong>姓名</strong></td>
                    <td class="w20p text-left"><strong>邮箱</strong></td>
                    <td class="w20p text-left"><strong>手机</strong></td>
                    <td class="w13p center"><strong>空间权限</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${users}">
                    <td th:text="${member.user.username}">user</td>
                    <td th:text="${member.user.givenName}">name</td>
                    <td th:text="${member.user.email}">mail</td>
                    <td th:text="${member.user.mobile}">mobile</td>
                    <td class="center">
                        <span class="label label-info" th:if="${member.privilege == 1}">编辑者</span>
                        <span class="label label-success" th:if="${member.privilege == 2}">管理员</span>
                        <span class="label label-default" th:if="${member.privilege != 1 and member.privilege != 2}">浏览者</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" th:if="${paginator != null and paginator.nums > 0}">
            <ul class="pagination pagination-sm">
                <li><span>共 <span th:text="${paginator.nums}">0</span> 条数据</span></li>
                <li th:each="pageItem : ${paginator.pages}" th:classappend="${pageItem.active} ? 'active'">
                    <a th:href="${pageItem.url}" th:text="${pageItem.page}">1</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
