<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
</head>
<body>
<div class="container" style="padding-top: 80px;">
    <div class="jumbotron text-center">
        <h1>403</h1>
        <p>您没有权限访问该页面。</p>
        <p><a class="btn btn-primary" href="/system/main/index">返回后台首页</a></p>
    </div>
</div>
</body>
</html>
