<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" href="/static/images/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/common.css">
</head>
<body>
<div class="container" style="padding-top: 80px;">
    <div class="jumbotron text-center">
        <h1>操作失败</h1>
        <p th:text="${message ?: '请求处理失败，请稍后重试。'}">请求处理失败，请稍后重试。</p>
        <p><a class="btn btn-primary" href="/">返回首页</a></p>
    </div>
</div>
</body>
</html>
