<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" href="/static/images/favicon.ico" />
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/plugins/popover/css/jquery.webui-popover.min.css">
    <link type="text/css" rel="stylesheet" href="/static/plugins/editor.md/css/editormd.preview.css" />
    <link type="text/css" rel="stylesheet" href="/static/plugins/editor.md/css/editormd.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/plugins/bootstrap-switch/css/bootstrap-switch.min.css">
    <link href="/static/css/common.css" rel="stylesheet">
    <script type="text/javascript" src="/static/plugins/jquery/jquery1.11.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/plugins/popover/js/jquery.webui-popover.min.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="/static/plugins/layui/layer/layer.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery/base64.min.js"></script>
    <script type="text/javascript" src="/static/plugins/cipher/sha256.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/editormd.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/marked.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/prettify.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/raphael.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/underscore.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/sequence-diagram.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/flowchart.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/jquery.flowchart.min.js"></script>
    <script type="text/javascript" src="/static/js/common/common.js"></script>
    <script type="text/javascript" src="/static/js/common/date.js"></script>
    <script type="text/javascript" src="/static/js/common/form.js"></script>
    <script type="text/javascript" src="/static/js/common/layers.js"></script>
    <script type="text/javascript" src="/static/js/common/storage.js"></script>
    <script type="text/javascript" src="/static/js/modules/page.js"></script>
</head>
<body id="frame-body">
<div class="container-fluid" style="height: 100%">
    <form id="page_form" action="/page/modify" method="post" style="height: 98%" onsubmit="return false">
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" name="document_id" th:value="${document.documentId}">
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" name="name" class="form-control" placeholder="请输入文档名称" th:value="${document.name}" th:readonly="${document.parentId == '0'}">
                    </div>
                    <div class="col-md-2 text-center">
                        <button type="button" class="btn btn-primary" th:onclick="|Page.ajaxSave(this.form, '${sendEmail}', '${autoFollowDoc}')|"><i class="fa fa-save"></i> 保存</button>
                        <button type="button" class="btn btn-default" th:onclick="|Page.cancelSave('确定要放弃此次修改吗?', '/document/index?document_id=${document.documentId}')|"><i class="fa fa-mail-reply"></i> 取消</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 98%; padding-top: 8px;">
            <div class="col-md-12" style="height: 98%">
                <div id="document_page_editor" style="height: 98%"></div>
            </div>
        </div>
    </form>
</div>
<script type="text/plain" id="initialMarkdown" th:text="${page_content}"></script>
<script th:inline="javascript">
    if(parent.layoutClose) {
        parent.layoutClose();
    }
    if(parent.hiddenScrollY) {
        parent.hiddenScrollY();
    }
    var storageId = "mm_wiki_doc_" + [[${document.documentId}]];
    $(function() {
        editormd.katexURL = {
            js  : "/static/plugins/editor.md/lib/katex/katex.min",
            css : "/static/plugins/editor.md/lib/katex/katex.min"
        };
        var initialMarkdown = $("#initialMarkdown").text();
        var editor = editormd("document_page_editor", {
            width: "100%",
            path : '/static/plugins/editor.md/lib/',
            toolbarIcons : function() {
                return [
                    "sidebar", "save", "|",
                    "undo", "redo", "|",
                    "bold", "del", "italic", "quote", "|",
                    "h1", "h2", "h3", "h4", "h5", "h6", "|",
                    "list-ul", "list-ol", "hr", "|",
                    "link", "reference-link", "image", "attachment", "code", "preformatted-text", "code-block", "table", "datetime", "html-entities", "pagebreak", "|",
                    "goto-line", "watch", "preview", "search", "|",
                    "help"
                ]
            },
            toolbarCustomIcons : {
                sidebar   : '<a onclick="parent.layoutToggle()" title="展开关闭侧边栏"><i class="fa fa-columns item"></i></a>',
                save : "<a onclick=" + 'Page.ajaxSave(\"#page_form\")' + " title='保存文档'><i class='fa fa-save'></i></a>"
            },
            theme : "default",
            previewTheme : "default",
            editorTheme : "default",
            markdown : initialMarkdown,
            codeFold : true,
            placeholder: "欢迎使用 MM-Wiki，请使用 Markdown 规范编写",
            saveHTMLToTextarea: false,
            searchReplace: true,
            emoji : false,
            taskList : true,
            tocm : true,
            tex : true,
            flowChart : true,
            sequenceDiagram : true,
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/image/upload?document_id=" + [[${document.documentId}]],
            onload : function() {
                var docStorage = Storage.get(storageId);
                if (docStorage !== "") {
                    layer.confirm("是否恢复为上次未提交的本地文档？", {
                        btn: ['是','否'],
                        skin: Layers.skin,
                        btnAlign: 'c',
                        title: "<i class='fa fa-warning'></i><strong> 警告</strong>"
                    }, function(index) {
                        editor.setMarkdown(docStorage);
                        layer.close(index)
                    }, function() {});
                }
            },
            onchange : function() {
                Storage.set(storageId, editor.getMarkdown());
            }
        });
    });
</script>
</body>
</html>
