<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/popover/css/jquery.webui-popover.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/editor.md/css/editormd.preview.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/editor.md/css/editormd.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-switch/css/bootstrap-switch.min.css}">
    <link th:href="@{/static/css/common.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/popover/js/jquery.webui-popover.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/jquery/base64.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/cipher/sha256.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/editor.md/editormd.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/editor.md/lib/marked.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/editor.md/lib/prettify.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/editor.md/lib/raphael.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/editor.md/lib/underscore.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/editor.md/lib/sequence-diagram.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/editor.md/lib/flowchart.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/editor.md/lib/jquery.flowchart.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/form.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/storage.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/modules/page.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid" style="height: 100%">
    <form id="page_form" th:action="@{/page/modify}" method="post" style="height: 98%" onsubmit="return false">
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" name="document_id" th:value="${document.documentId}">
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" name="name" class="form-control" placeholder="请输入文档名称" th:value="${document.name}" th:readonly="${document.parentId == '0'}">
                    </div>
                    <div class="col-md-2 text-center">
                        <button type="button" class="btn btn-primary" th:data-send-email="${sendEmail}"
                                th:data-auto-follow-doc="${autoFollowDoc}"
                                onclick="Page.ajaxSave(this.form, this.getAttribute('data-send-email'), this.getAttribute('data-auto-follow-doc'))">
                            <i class="fa fa-save"></i> 保存
                        </button>
                        <button type="button" class="btn btn-default" data-message="确定要放弃此次修改吗？"
                                th:data-url="@{/document/index(document_id=${document.documentId})}"
                                onclick="Page.cancelSave(this.getAttribute('data-message'), this.getAttribute('data-url'))">
                            <i class="fa fa-mail-reply"></i> 取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 98%; padding-top: 8px;">
            <div class="col-md-12" style="height: 98%">
                <div id="document_page_editor" style="height: 98%"></div>
            </div>
        </div>
    </form>
</div>
<script type="text/plain" id="initialMarkdown" th:text="${page_content}"></script>
<script th:inline="javascript">
    if (parent.layoutClose) {
        parent.layoutClose();
    }
    if (parent.hiddenScrollY) {
        parent.hiddenScrollY();
    }

    var documentId = /*[[${document.documentId}]]*/ "";
    var sendEmail = String(/*[[${sendEmail}]]*/ "0");
    var autoFollowDoc = String(/*[[${autoFollowDoc}]]*/ "0");
    var storageId = "mm_wiki_doc_" + documentId;

    $(function() {
        editormd.katexURL = {
            js  : "/static/plugins/editor.md/lib/katex/katex.min",
            css : "/static/plugins/editor.md/lib/katex/katex.min"
        };

        var initialMarkdown = $("#initialMarkdown").text();
        var editor = editormd("document_page_editor", {
            width: "100%",
            path: "/static/plugins/editor.md/lib/",
            toolbarIcons : function() {
                return [
                    "sidebar", "save", "|",
                    "undo", "redo", "|",
                    "bold", "del", "italic", "quote", "|",
                    "h1", "h2", "h3", "h4", "h5", "h6", "|",
                    "list-ul", "list-ol", "hr", "|",
                    "link", "reference-link", "image", "attachment", "code", "preformatted-text", "code-block", "table", "datetime", "html-entities", "pagebreak", "|",
                    "goto-line", "watch", "preview", "search", "|",
                    "help"
                ];
            },
            toolbarCustomIcons : {
                sidebar: '<a onclick="parent.layoutToggle()" title="展开关闭侧边栏"><i class="fa fa-columns item"></i></a>',
                save: '<a onclick="Page.ajaxSave(\'#page_form\', \'' + sendEmail + '\', \'' + autoFollowDoc + '\')" title="保存文档"><i class="fa fa-save"></i></a>',
                attachment: '<a onclick="Page.attachment(\'' + documentId + '\')" title="上传附件"><i class="fa fa-paperclip item"></i></a>'
            },
            theme : "default",
            previewTheme : "default",
            editorTheme : "default",
            markdown : initialMarkdown,
            codeFold : true,
            placeholder: "欢迎使用 MM-Wiki，请使用 Markdown 规范编写",
            //syncScrolling : false,
            saveHTMLToTextarea: false, // 保存 HTML 到 Textarea
            searchReplace: true,
            //watch : false, // 关闭实时预览
            // htmlDecode : "style,script,iframe|on*,alert", // 开启 HTML 标签解析，为了安全性，默认不开启
            //toolbar  : false,  // 关闭工具栏
            //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
            emoji : false,
            taskList : true,
            tocm: true, // Using [TOCM]
            tex: true, // 开启科学公式TeX语言支持，默认关闭
            flowChart: true, // 开启流程图支持，默认关闭
            sequenceDiagram: true, // 开启时序/序列图支持，默认关闭,
            //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
            //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
            //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/image/upload?document_id=" + encodeURIComponent(documentId),
            onload : function() {
                // 新增图片粘贴上传功能 Start
                $("#document_page_editor").on("paste", function (e) {
                    var clipboardData = (e.originalEvent && e.originalEvent.clipboardData) || window.clipboardData;
                    if (!(clipboardData && clipboardData.items)) {
                        return;
                    }

                    for (var i = 0, length = clipboardData.items.length; i < length; i++) {
                        var item = clipboardData.items[i];
                        if (item.kind !== "file" || !/^image\//i.test(item.type)) {
                            continue;
                        }

                        var imageFile = item.getAsFile();
                        if (!imageFile) {
                            continue;
                        }

                        var time = Date.now();
                        var fileName = imageFile.name || ("clipboard." + (imageFile.type.split("/")[1] || "png"));

                        var formData = new FormData();
                        formData.append("editormd-image-file", imageFile, fileName);

                        $.ajax({
                            type: "POST",
                            url: "/image/upload?document_id=" + encodeURIComponent(documentId) + "&guid=" + time,
                            data: formData,
                            dataType: "json",
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                if (data.success === 1) {
                                    editor.insertValue("![image](" + data.url + ")\r\n");
                                } else {
                                    Layers.failedMsg(data.message || "图片上传失败");
                                }
                            },
                            error: function () {
                                Layers.failedMsg("图片上传失败");
                            }
                        });

                        e.preventDefault();
                        return false;
                    }
                });

                var docStorage = Storage.get(storageId);
                if (docStorage !== "") {
                    layer.confirm("是否恢复为上次未提交的本地文档？", {
                        btn: ["是", "否"],
                        skin: Layers.skin,
                        btnAlign: "c",
                        title: "<i class='fa fa-warning'></i><strong> 警告</strong>"
                    }, function(index) {
                        editor.setMarkdown(docStorage);
                        layer.close(index);
                    }, function() {});
                }
            },
            onchange : function() {
                Storage.set(storageId, editor.getMarkdown());
            }
        });
    });
</script>
</body>
</html>
