<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link type="text/css" rel="stylesheet"
          th:href="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layui/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/table.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <form id="systemLinkSearchForm" role="form">
                    <div class="col-md-2">
                        <button type="button" name="add" data-link="/system/link/add" class="btn btn-primary"><i
                                class="glyphicon glyphicon-plus"></i>添加链接
                        </button>
                    </div>
                    <div class="col-md-7"></div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="keyword" class="form-control" name="keyword" type="text" th:value="${keyword}"
                                   placeholder="链接名称">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" onclick="reloadTable()"><i
                                        class="glyphicon glyphicon-search"></i></button>
                                <button type="button" class="btn btn-warning" onclick="resetSearchForm()"><i
                                        class="glyphicon glyphicon-repeat"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-body" style="padding-top: 0">
            <table id="systemLinkTable"></table>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">

    function urlFormatter(value) {
        return tableLink(value, value, "_blank");
    }

    function actionFormatter(value, row) {
        return '<a name="edit" data-link="/system/link/edit?link_id=' + row.linkId + '"><i class="glyphicon glyphicon-edit"></i>修改</a> ' +
            '<a data-message="确定删除吗？" data-url="/system/link/delete?link_id=' + row.linkId + '" onclick="Layers.confirm(this.getAttribute(\'data-message\'), this.getAttribute(\'data-url\'))"><i class="glyphicon glyphicon-trash"></i>删除</a>';
    }

    $(function () {
        initTable({
            domId: "systemLinkTable",
            url: "/system/link/list",
            uniqueId: "linkId",
            sortable: false,
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            queryParams: function () {
                return {keyword: $("#keyword").val()};
            },
            columns: [
                {field: "linkId", title: "ID", width: "8%", align: "center"},
                {field: "name", title: "名称", width: "25%"},
                {field: "url", title: "URL", formatter: urlFormatter},
                {field: "sequence", title: "排序号", width: "10%", align: "center"},
                {field: "operate", title: "操作", width: "13%", align: "center", formatter: actionFormatter}
            ],
            onLoadSuccess: function () {
                Layers.bindIframe("button[name='add']", "添加链接", "340px", "900px");
                Layers.bindIframe("[name='edit']", "修改链接", "340px", "900px");
            }
        });
    });

    function reloadTable() {
        reloadTableFirstPage("systemLinkTable");
    }

    function resetSearchForm() {
        resetTableSearch("systemLinkSearchForm", "systemLinkTable");
    }
</script>
</body>
</html>
