<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tinycloud.mmwiki.mapper.RolePrivilegeMapper">

    <select id="findPrivilegeIdsByRoleId" resultType="integer">
        select privilege_id
        from mw_role_privilege
        where role_id = #{roleId}
        order by privilege_id asc
    </select>

    <select id="countAuthorized" resultType="integer">
        select count(*)
        from mw_privilege p
        where p.type = 'controller'
          and lower(p.controller) = lower(#{controller})
          and lower(p.action) = lower(#{action})
          and exists (select 1
                      from mw_role_privilege rp
                      where rp.privilege_id = p.privilege_id
                        and rp.role_id = #{roleId})
    </select>

    <delete id="deleteByRoleId">
        delete
        from mw_role_privilege
        where role_id = #{roleId}
    </delete>

    <delete id="deleteByPrivilegeId">
        delete
        from mw_role_privilege
        where privilege_id = #{privilegeId}
    </delete>

    <insert id="insertBatch">
        insert into mw_role_privilege(role_id, privilege_id, create_time) values
        <foreach collection='privilegeIds' item='privilegeId' separator=','>
            (#{roleId}, #{privilegeId}, #{createTime})
        </foreach>
    </insert>

</mapper>
