<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
</head>
<body id="frame-body">
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <form th:action="@{/system/profile/activity}" method="get">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="number" th:value="${paginator != null ? paginator.perPageNums : 20}">
                    <div class="col-md-9">
                        <div class="input-group"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control" name="keyword" type="text" th:value="${keyword}" placeholder="备注 / 文档名称">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="w8p">动作</th>
                    <th>文档</th>
                    <th class="w35p">备注</th>
                    <th class="w15p">时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="logDocument : ${logDocuments}">
                    <td class="center">
                        <label class="text text-info" th:if="${logDocument.action == 1}">创建</label>
                        <label class="text text-primary" th:if="${logDocument.action == 2}">修改</label>
                        <label class="text text-danger" th:if="${logDocument.action == 3}">删除</label>
                    </td>
                    <td>
                        <span th:if="${logDocument.action == 3}" th:text="${logDocument.documentName}">文档</span>
                        <a th:unless="${logDocument.action == 3}" th:href="@{/document/index(document_id=${logDocument.documentId})}" target="_parent" th:text="${logDocument.documentName}">文档</a>
                    </td>
                    <td th:text="${logDocument.comment}">备注</td>
                    <td class="center" th:text="${logDocument.createTimeText}">2026-01-01 00:00:00</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" th:if="${paginator != null and paginator.nums > 0}">
            <th:block th:replace="~{fragments/paginator :: default(${paginator})}"></th:block>
        </div>
    </div>
</div>
</body>
</html>
