<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link type="text/css" rel="stylesheet"
          th:href="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery1.11.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/plugins/bootstrap-table/extensions/page-jump/bootstrap-table-pagejump.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/layers.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/table.js}"></script>
</head>
<body id="frame-body">
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <form id="systemAuthSearchForm" role="form">
                    <div class="col-md-4">
                        <button type="button" name="add" data-link="/system/auth/add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> 添加登录认证</button>
                        <button type="button" name="doc" data-link="/system/auth/doc" class="btn btn-info"><i class="glyphicon glyphicon-list-alt"></i> 登录认证文档</button>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="keyword" class="form-control" name="keyword" type="text" th:value="${keyword}"
                                   placeholder="认证名称">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" onclick="reloadTable()"><i
                                        class="glyphicon glyphicon-search"></i></button>
                                <button type="button" class="btn btn-warning" onclick="resetSearchForm()"><i
                                        class="glyphicon glyphicon-repeat"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-body" style="padding-top: 0">
            <table id="systemAuthTable"></table>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">

    function usedFormatter(value) {
        return value === 1 ? tableLabel("是", "label-success") : tableLabel("否", "label-danger");
    }

    function actionFormatter(value, row) {
        var html = '<a name="edit" data-link="/system/auth/edit?login_auth_id=' + row.loginAuthId + '"><i class="glyphicon glyphicon-edit"></i>修改</a> ';
        if (row.isUsed !== 1) {
            html += '<a data-message="确定要启用该登录认证吗？" data-url="/system/auth/used?login_auth_id=' + row.loginAuthId + '" onclick="Layers.confirm(this.getAttribute(\'data-message\'), this.getAttribute(\'data-url\'))"><i class="glyphicon glyphicon-ok-circle"></i>启用</a> ';
        }
        html += '<a data-message="确定删除吗？" data-url="/system/auth/delete?login_auth_id=' + row.loginAuthId + '" onclick="Layers.confirm(this.getAttribute(\'data-message\'), this.getAttribute(\'data-url\'))"><i class="glyphicon glyphicon-trash"></i>删除</a>';
        return html;
    }

    $(function () {
        initTable({
            domId: "systemAuthTable",
            url: "/system/auth/list",
            uniqueId: "loginAuthId",
            sortable: false,
            pageSize: 20,
            pageList: [10, 20, 50, 100],
            queryParams: function () {
                return {keyword: $("#keyword").val()};
            },
            columns: [
                {field: "loginAuthId", title: "ID", width: "5%", align: "center"},
                {field: "name", title: "名称", width: "13%"},
                {field: "usernamePrefix", title: "用户名前缀", width: "8%"},
                {field: "url", title: "认证 URL", width: "25%"},
                {field: "extData", title: "附加参数"},
                {field: "isUsed", title: "是否启用", width: "8%", align: "center", formatter: usedFormatter},
                {field: "operate", title: "操作", width: "13%", align: "center", formatter: actionFormatter}
            ],
            onLoadSuccess: function () {
                Layers.bindIframe("button[name='add']", "添加登录认证", "400px", "900px");
                Layers.bindIframe("[name='edit']", "修改登录认证", "400px", "900px");
                Layers.bindIframe("button[name='doc']", "登录认证文档", "650px", "1150px");
            }
        });
    });

    function reloadTable() {
        reloadTableFirstPage("systemAuthTable");
    }

    function resetSearchForm() {
        resetTableSearch("systemAuthSearchForm", "systemAuthTable");
    }
</script>
</body>
</html>
